<style>
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* prevent double scrollbars */
    position: fixed;  /* fixes mobile vh issue */
    top: 0;
    left: 0;
  }

  #data-portal-embed {
    width: 100%;
    height: 100%;
  }

  #data-portal-embed iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>

<section id="data-portal-embed">
  <iframe 
      src="https://ppi-irlandia.github.io/data_portal/" 
      frameborder="0" 
      scrolling="yes" 
      allowfullscreen>
  </iframe>
</section>