<!-- FAQ Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="mx-auto" style="max-width: 1000px; padding: 2rem">
            <h3>{{ site.faqBlockTitle }}</h3>
            <!-- Accordion FAQ -->
            <div class="accordion accordion-flush" id="accordionExample">
                <p class="text-left"><b>ABOUT PPI IRLANDIA</b></p>
                {% for item in site.data.faq %}
                <div class="accordion-item mb-4 shadow-sm">
                    <h2 class="accordion-header" id="heading{{ forloop.index }}">
                        <button
                                class="accordion-button collapsed bg-transparent fw-bold text-start"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ forloop.index }}"
                                aria-expanded="false"
                                aria-controls="collapse{{ forloop.index }}"
                        >
                            {{ item.question }}
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.index }}">
                        <div class="accordion-body text-start">
                            {{ item.answer | markdownify }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Guidebook -->
            <p>
                Have a look at our Guidebook for Incoming Students below or click
                <a href="{{ site.baseurl }}/img/guidebook/Guidebook_PPI_Irlandia_2022_Edisi_4.pdf"
                   target="_blank" rel="noopener noreferrer">here</a>!
            </p4

            <iframe
                    src="https://docs.google.com/viewer?url={{ site.url }}{{ site.baseurl }}/img/guidebook/Guidebook_PPI_Irlandia_2022_Edisi_4.pdf&embedded=true"
                    style="width:100%; height:600px;">
            </iframe>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- End FAQ Section -->
