<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ site.faqBlockTitle }}</h3>
                <p>Have a look at our Guidebook for Incoming Students! Having trouble viewing? <a href="/img/guidebook/Guidebook PPI Irlandia 2022 Edisi 3.pdf">Download</a> instead.</p>
            <object data="/img/guidebook/Guidebook PPI Irlandia 2022 Edisi 3.pdf" type="application/pdf" width="100%" height="625px" style="margin-top: 20px">
                <p>Unable to display PDF file. <a href="/img/guidebook/Guidebook PPI Irlandia 2022 Edisi 3.pdf">Download</a> instead.</p>
            </object>
        </div>
    </div>
</section>
<!-- End About Hackathon Section -->
