<!-- About Hackathon Section -->
<section id="about-hackathon" class="about-hackathon">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h1>Pendataan Mahasiswa Baru</h1>
                <style>
                    iframe {
                    width: 100%;
                    height: 100vh;
                    border: none;
                    }
                </style>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfx0dQk1KBF7KHJPA0Z5jzSJ1Vd7oAtCILrVjijC4O2SyuF3A/viewform?embedded=true" 
                        allowfullscreen>
                    Loading…
                </iframe>
        </div>
    </div>
</section>
<!-- End About Hackathon Section -->