<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <h3>{{ site.instagramFeedTitle }} <a href="https://www.instagram.com/ppiirlandia/?hl=en" target="_blank">@ppiirlandia</a>
            </h3>
            <div id="instagram-embed" class="instagram-embed" style="width: 100%; max-width: 600px; height: 600px; overflow-y: scroll;">
                <iframe src="https://www.instagram.com/ppiirlandia/embed" width="100%" height="600" frameborder="0" scrolling="yes" allowtransparency="true"></iframe>
            </div>
            <div id="tweets" class="tweets"></div>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
